
<%- include("../partials/header") %>

<header class="jumbotron">
	<div class="container">
			
<h1>
	WELCOME TO YELPCAMP!!!
</h1>
	<p>
		These are some of the handpicked campgrounds from all over the world
	</p>
	
	<p >
		
<a class="btn btn-primary btn-md" href="/campgrounds/new">
	ADD NEW CAMPGROUNDS
</a>
	</p>
		<!-- <p>
		<form action="/campgrounds" method="GET" class="form-inline" >
		    <div class="form-group">
				<input type="text" name="search" placeholder="Search Campgrounds" class="form-control">
				<input type="submit" value="Search" class="btn btn-default">
			</div>		
		</form>
		</p> -->
	</div>
</header>

<div class="row text-center" style="display:flex; flex-wrap:wrap">
<div class="col-md-12">
	<% if(noMatch !== null) { %>
	
	<h3>
		<%=noMatch %>
	</h3>
	
	<% } %>
</div>	
<% campgrounds.forEach(function(campgrounds){ %>
	
	<div class="col-md-3 col-sm-6">
	
	    <div class="thumbnail">
		     <img src="<%= campgrounds.image %>">
			<div class="caption">
				<h3><%=campgrounds.name	%></h3>
				<div>
                   <span class="badge label-primary"><i class="fas fa-thumbs-up"></i> <%= campgrounds.likes.length %></span>
				</div>
			</div>
			<p>
				<a href="/campgrounds/<%= campgrounds._id %>" class="btn btn-primary">More Info</a>
			</p>
	    </div>
			
	</div>
	 
 <% }) %>


	
<%- include("../partials/footer") %>